*{margin: 0;
padding: 0;}

header {
    text-align:center;
    height: 150px;
}

body {
    display: flex;
    
    height: 100%;
    background: url(background.jpg);
    background-size: cover;
}


.PHOTOS {
    display: inline-block;
    line-height: 21px;
    color:  #ffffff;
    font-size: 18px;
    text-align: center;
}

.item {
    display: inline-block;
    padding-right: 67px;
    padding-bottom: 95px; 
}

.footer {
    margin-bottom: 20px;
}

.header-logo {
    float: left;
}

.header-logo:hover .header-logo-text {
    color: #f26522;
}

.header-logo:hover .logo-img {
    background-position: -10px -10px;
}

.head:hover {
    color: #FF4500;
}

.main {
    width: 1366px;
    padding-top: 48px;
    background-size: cover;
    margin: 0 auto;
    font-family: sans-serif;
}

.container {
    width: 1060px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-logo-text {
    float: left;
    color: aliceblue;
    font-size: 29px;
font-weight: 700;
    line-height: 0.8;
    margin-left: 15px;
    
}

.logo-img {
    width: 46px; height: 44px;
    background: url('css_sprites.png') -76px -10px;
    float: left;
}

.logo-second-word {
    font-size: 18px;
}

.header-contacts {
    float: right;
    text-align: right;
    
}

.header-contact-text {
    text-decoration: none;
    color: #ffff;
}

.header {
    margin-bottom: 48px;
}



.tour {
    width: 311px;
}

.tour:nth-child(3n) {
   
}

.tour-img {
    border: 2px solid transparent;

	  border-image: linear-gradient(to bottom, #fff 0%, #000 100%);

	  border-image-slice: 1;
     
}

.tour-name {
    color:  #ffffff;
    font-size: 18px;
    text-decoration: none;
}
.tour:hover .tour-name{
    color: #f26522;
}

.tour:hover .tour-details {
    opacity: 1;
}


.copyright {
    color:  #ffffff;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
}

.tour-details {
    width: 100%;
    box-sizing: border-box;
    opacity: 0;
    transition: 0.4s;
}

.tour-price {

    color: #fff;
}

.view-details {
       
}
.view-details::after {
    content: ">";
   
}
.container-2 {
    width: 1060px;
    justify-content: flex-end;
}